In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pmdarima as pm
from pmdarima import auto_arima

"""
pd.set_option('display.max_rows', None)   # Shows all rows in the DataFrame
pd.set_option('display.max_columns', None)  # Shows all columns in the DataFrame
pd.set_option('display.width', None)     # Ensures no line breaks for wide DataFrames
pd.set_option('display.max_colwidth', None)
"""

"\npd.set_option('display.max_rows', None)   # Shows all rows in the DataFrame\npd.set_option('display.max_columns', None)  # Shows all columns in the DataFrame\npd.set_option('display.width', None)     # Ensures no line breaks for wide DataFrames\npd.set_option('display.max_colwidth', None)\n"

# Import Data

In [20]:
df = pd.read_csv('data/SAP Datasets.csv')

# forward and backward filling
years_col = [str(i) for i in range(2000,2024)]
df[years_col] = df[years_col].apply(lambda row: row.ffill().bfill(), axis=1)

# drop unnecessary columns
df = df.drop(['Country Code', 'short description', 'long description', 'Indicator Code'], axis=1)
df

/var/folders/ds/b8dd7ztn06l6p5dfvy90q01c0000gn/T/ipykernel_12913/4202544317.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/SAP Datasets.csv')

,Country Name,Indicator Name,Topic,Unit of measure,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,Control of Corruption: Estimate,Public Sector: Policy & institutions,0,1.165965,1.165965,1.165965,1.165965,1.165965,1.269663,...,1.014232,1.248461,1.232735,1.239377,1.207429,1.174703,1.199392,0.801611,0.756785,0.756785
1,Africa Eastern and Southern,Control of Corruption: Estimate,Public Sector: Policy & institutions,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Control of Corruption: Estimate,Public Sector: Policy & institutions,0,-1.271724,-1.271724,-1.251137,-1.344180,-1.350647,-1.447252,...,-1.364743,-1.354240,-1.540353,-1.531910,-1.502881,-1.419499,-1.493700,-1.152327,-1.183776,-1.183776
3,Africa Western and Central,Control of Corruption: Estimate,Public Sector: Policy & institutions,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Control of Corruption: Estimate,Public Sector: Policy & institutions,0,-1.197514,-1.197514,-1.155493,-1.335463,-1.377569,-1.323182,...,-1.457798,-1.427323,-1.483337,-1.444333,-1.199251,-1.058418,-0.938673,-0.651610,-0.601941,-0.601941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23136,Kosovo,Urban population (% of total population),Environment: Density & urbanization,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23137,"Yemen, Rep.",Urban population (% of total population),Environment: Density & urbanization,0,26.267000,26.787000,27.315000,27.849000,28.390000,28.936000,...,34.165000,34.777000,35.394000,36.016000,36.642000,37.273000,37.908000,38.546000,39.188000,39.831000
23138,South Africa,Urban population (% of total population),Environment: Density & urbanization,0,56.891000,57.368000,57.898000,58.446000,58.993000,59.536000,...,64.312000,64.828000,65.341000,65.850000,66.355000,66.856000,67.354000,67.847000,68.335000,68.819000
23139,Zambia,Urban population (% of total population),Environment: Density & urbanization,0,34.802000,35.002000,35.475000,35.951000,36.430000,36.911000,...,41.382000,41.907000,42.438000,42.976000,43.521000,44.072000,44.629000,45.192000,45.761000,46.335000
23140,Zimbabwe,Urban population (% of total population),Environment: Density & urbanization,0,33.758000,34.170000,34.585000,34.479000,34.294000,34.110000,...,32.504000,32.385000,32.296000,32.237000,32.209000,32.210000,32.242000,32.303000,32.395000,32.517000

# Ranking by Indicators

In [21]:
Indicators = pd.read_csv('data/Indicators_final.csv')

Indicators = Indicators[Indicators['DOES A HIGHER VALUE INCREASE POVERTY?'] != 'TBD']
Indicators

,INDICATOR NAMES,DOES A HIGHER VALUE INCREASE POVERTY?,Short Description,Long Description
0,Control of Corruption: Estimate,FALSE,NaN,NaN
1,Multilateral debt service (% of public and pub...,TRUE,Multilateral debt service is the repayment of ...,Multilateral debt service is the repayment of ...
2,Access to clean fuels and technologies for coo...,FALSE,NaN,Access to clean fuels and technologies for coo...
3,Access to clean fuels and technologies for coo...,FALSE,NaN,Access to clean fuels and technologies for coo...
4,Access to clean fuels and technologies for coo...,FALSE,NaN,Access to clean fuels and technologies for coo...
...,...,...,...,...
82,Teenage mothers (% of women ages 15-19 who hav...,TRUE,NaN,Teenage mothers are the percentage of women ag...
83,Age dependency ratio (% of working-age populat...,TRUE,NaN,Age dependency ratio is the ratio of dependent...
84,"Age dependency ratio, old (% of working-age po...",TRUE,NaN,"Age dependency ratio, old, is the ratio of old..."
85,"Age dependency ratio, young (% of working-age ...",TRUE,NaN,"Age dependency ratio, young, is the ratio of y..."
87,Urban population (% of total population),FALSE,NaN,Urban population refers to people living in ur...

## Indicator Dataframes

In [22]:
results = {}

for index, row in Indicators.iterrows():
    indicator_name = row['INDICATOR NAMES']
    increase_poverty = row['DOES A HIGHER VALUE INCREASE POVERTY?']
    
    indicator_df = df[df['Indicator Name'] == indicator_name]
    indicator_df.set_index('Country Name', inplace=True)
    
    years_columns = [str(year) for year in range(2000, 2024)]
    country_year_data = indicator_df[years_columns]
    
    if increase_poverty == 'TRUE':
        direction = True  # Lower values get better ranks
    elif increase_poverty == 'FALSE':
        direction = False  # Higher values get better ranks
    
    ranked_countries = country_year_data.rank(axis=0, method='min', ascending=direction, na_option='keep')
    
    column_name = f"Average_Rank_{indicator_name}"
    ranked_countries[column_name] = ranked_countries.mean(axis=1, skipna=True)
    
    results[column_name] = ranked_countries[[column_name]].sort_values(by='Country Name').reset_index()

## Total Average

In [13]:
results['Average_Rank_Multilateral debt service (% of public and publicly guaranteed debt service)']['Country Name']

,Country Name,Average_Rank_Multilateral debt service (% of public and publicly guaranteed debt service)
0,Afghanistan,132.750000
1,Africa Eastern and Southern,NaN
2,Africa Western and Central,NaN
3,Albania,76.166667
4,Algeria,27.791667
...,...,...
261,West Bank and Gaza,NaN
262,World,NaN
263,"Yemen, Rep.",110.083333
264,Zambia,48.166667
265,Zimbabwe,44.416667

In [14]:
results['Average_Rank_Control of Corruption: Estimate']

                    Country Name  Average_Rank_Control of Corruption: Estimate
0                    Afghanistan                                    195.916667
1    Africa Eastern and Southern                                           NaN
2     Africa Western and Central                                           NaN
3                        Albania                                    141.875000
4                        Algeria                                    142.208333
..                           ...                                           ...
261           West Bank and Gaza                                    113.041667
262                        World                                           NaN
263                  Yemen, Rep.                                    185.875000
264                       Zambia                                    131.458333
265                     Zimbabwe                                    191.125000

[266 rows x 2 columns]

In [24]:
combined_df = pd.concat([df.drop('Country Name', axis=1) for _, df in results.items()], axis=1)
combined_df.insert(0,'Country Name', results['Average_Rank_Control of Corruption: Estimate']['Country Name'])

In [25]:
combined_df.head()

,Country Name,Average_Rank_Control of Corruption: Estimate,Average_Rank_Multilateral debt service (% of public and publicly guaranteed debt service),"Average_Rank_Access to clean fuels and technologies for cooking, rural (% of rural population)","Average_Rank_Access to clean fuels and technologies for cooking, urban (% of urban population)",Average_Rank_Access to clean fuels and technologies for cooking (% of population),"Average_Rank_Access to electricity, rural (% of rural population)","Average_Rank_Access to electricity, urban (% of urban population)",Average_Rank_Access to electricity (% of population),Average_Rank_Compensation of employees (current LCU),...,"Average_Rank_Children in employment, wage workers (% of children in employment, ages 7-14)","Average_Rank_Adolescent fertility rate (births per 1,000 women ages 15-19)",Average_Rank_Wanted fertility rate (births per woman),Average_Rank_Women who were first married by age 15 (% of women ages 20-24),Average_Rank_Women who were first married by age 18 (% of women ages 20-24),Average_Rank_Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),Average_Rank_Age dependency ratio (% of working-age population),"Average_Rank_Age dependency ratio, old (% of working-age population)","Average_Rank_Age dependency ratio, young (% of working-age population)",Average_Rank_Urban population (% of total population)
0,Afghanistan,195.916667,132.750000,180.833333,162.750000,182.125000,195.291667,189.541667,201.500000,60.666667,...,71.125000,237.291667,55.666667,109.041667,112.708333,26.291667,257.708333,17.583333,258.541667,242.958333
1,Africa Eastern and Southern,NaN,NaN,181.541667,186.166667,186.916667,226.208333,237.208333,238.541667,NaN,...,NaN,232.958333,NaN,NaN,NaN,NaN,233.791667,42.333333,232.000000,218.250000
2,Africa Western and Central,NaN,NaN,201.916667,202.541667,200.666667,220.625000,216.666667,218.125000,NaN,...,NaN,246.333333,70.541667,NaN,NaN,50.833333,241.291667,47.708333,241.541667,184.916667
3,Albania,141.875000,76.166667,127.541667,132.416667,131.333333,21.875000,81.416667,55.041667,64.875000,...,10.958333,60.875000,2.083333,23.375000,39.875000,2.250000,87.500000,200.000000,78.500000,144.458333
4,Algeria,142.208333,27.791667,71.625000,52.500000,70.541667,120.250000,95.875000,104.625000,NaN,...,62.875000,38.791667,NaN,1.000000,15.375000,NaN,118.875000,106.458333,145.291667,92.625000

In [26]:
combined_df.to_csv('country_initial_rankings.csv')

In [97]:
indicator_result_df = pd.read_csv('indicator_result_df.csv')

In [98]:
indicator_result_df

,Indicator Name,Country Count,Normalized Count
0,"Birth rate, crude (per 1,000 people)",265,1.000000
1,"Age dependency ratio, young (% of working-age population)",265,1.000000
2,"Age dependency ratio, old (% of working-age population)",265,1.000000
3,Age dependency ratio (% of working-age population),265,1.000000
4,"Adolescent fertility rate (births per 1,000 women ages 15-19)",265,1.000000
5,People using at least basic drinking water services (% of population),263,0.992424
6,Urban population (% of total population),263,0.992424
7,People using at least basic sanitation services (% of population),263,0.992424
8,Access to electricity (% of population),263,0.992424
9,"International migrant stock, total",261,0.984848
10,"Access to electricity, urban (% of urban population)",261,0.984848
11,"Access to electricity, rural (% of rural population)",261,0.984848
12,Births attended by skilled health staff (% of total),250,0.943182
13,"School enrollment, primary (gross), gender parity index (GPI)",248,0.935606
14,"School enrollment, secondary (gross), gender parity index (GPI)",246,0.928030
15,"Compulsory education, duration (years)",245,0.924242
16,"Unemployment, total (% of total labor force) (national estimate)",241,0.909091
17,"School enrollment, tertiary (gross), gender parity index (GPI)",240,0.905303
18,Current health expenditure per capita (current US$),238,0.897727
19,Current health expenditure (% of GDP),238,0.897727
20,Access to clean fuels and technologies for cooking (% of population),237,0.893939
21,"Access to clean fuels and technologies for cooking, rural (% of rural population)",237,0.893939
22,"Access to clean fuels and technologies for cooking, urban (% of urban population)",237,0.893939
23,"Wage and salaried workers, male (% of male employment) (modeled ILO estimate)",235,0.886364
24,"Wage and salaried workers, total (% of total employment) (modeled ILO estimate)",235,0.886364
25,"Employers, female (% of female employment) (modeled ILO estimate)",235,0.886364
26,"Employers, male (% of male employment) (modeled ILO estimate)",235,0.886364
27,"Employers, total (% of total employment) (modeled ILO estimate)",235,0.886364
28,"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)",235,0.886364
29,"Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",235,0.886364
30,Adjusted net national income per capita (current US$),232,0.875000
31,"Cause of death, by injury (% of total)",231,0.871212
32,"Cause of death, by non-communicable diseases (% of total)",231,0.871212
33,"Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)",231,0.871212
34,Expenditure on tertiary education (% of government expenditure on education),215,0.810606
35,Unemployment with intermediate education (% of total labor force with intermediate education),215,0.810606
36,Unemployment with basic education (% of total labor force with basic education),214,0.806818
37,Unemployment with advanced education (% of total labor force with advanced education),214,0.806818
38,"Literacy rate, youth female (% of females ages 15-24)",205,0.772727
39,Political Stability and Absence of Violence/Terrorism: Estimate,205,0.772727
40,Control of Corruption: Estimate,205,0.772727
41,Pregnant women receiving prenatal care (%),203,0.765152
42,"Literacy rate, youth total (% of people ages 15-24)",203,0.765152
43,"Literacy rate, youth male (% of males ages 15-24)",203,0.765152
44,"Literacy rate, youth (ages 15-24), gender parity index (GPI)",203,0.765152
45,Expenditure on secondary education (% of government expenditure on education),202,0.761364
46,"Literacy rate, adult total (% of people ages 15 and above)",201,0.757576
47,"Literacy rate, adult male (% of males ages 15 and above)",201,0.757576
48,"Literacy rate, adult female (% of females ages 15 and above)",201,0.757576
49,Compensation of employees (% of expense),201,0.757576
50,Expenditure on primary education (% of government expenditure on education),199,0.750000
51,Children out of school (% of primary school age),198,0.746212
52,"Children out of school, primary",198,0.746212
53,Adjusted savings: education expenditure (current US$),196,0.738636
54,Adolescents out of school (% of lower secondary school age),193,0.727273
55,"Children out of school, female (% of female primary school age)",190,0.715909
56,"Children out of school, male (% of male primary school age)",190,0.715909
57,"Children out of school, primary, female",190,0.715909
58,"Children out of school, primary, male",190,0.715909
59,"Adolescents out of school, male (% of male lower secondary school age)",184,0.693182
60,"Adolescents out of school, female (% of female lower secondary school age)",184,0.693182
61,Terms of trade adjustment (constant LCU),178,0.670455
62,People using safely managed drinking water services (% of population),166,0.625000
63,Proportion of people living below 50 percent of median income (%),165,0.621212
64,Multidimensional poverty headcount ratio (World Bank) (% of population),160,0.602273
65,Compensation of employees (current LCU),156,0.587121
66,Women who were first married by age 18 (% of women ages 20-24),140,0.526515
67,Multilateral debt service (% of public and publicly guaranteed debt service),138,0.518939
68,Women who were first married by age 15 (% of women ages 20-24),137,0.515152
69,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),122,0.458333
70,Adequacy of social insurance programs (% of total welfare of beneficiary households),111,0.416667
71,Multidimensional poverty headcount ratio (UNDP) (% of population),110,0.412879
72,Adequacy of social safety net programs (% of total welfare of beneficiary households),109,0.409091
73,"Children in employment, work only (% of children in employment, ages 7-14)",97,0.363636
74,"Children in employment, total (% of children ages 7-14)",97,0.363636
75,"Children in employment, study and work, male (% of male children in employment, ages 7-14)",97,0.363636
76,"Children in employment, study and work, female (% of female children in employment, ages 7-14)",97,0.363636
77,"Children in employment, study and work (% of children in employment, ages 7-14)",97,0.363636
78,"Children in employment, work only, female (% of female children in employment, ages 7-14)",97,0.363636
79,"Children in employment, work only, male (% of male children in employment, ages 7-14)",97,0.363636
80,"Children in employment, wage workers (% of children in employment, ages 7-14)",90,0.337121
81,"Children in employment, wage workers, female (% of female children in employment, ages 7-14)",90,0.337121
82,"Children in employment, wage workers, male (% of male children in employment, ages 7-14)",90,0.337121
83,Wanted fertility rate (births per woman),81,0.303030
84,Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant),77,0.287879
85,"Community health workers (per 1,000 people)",74,0.276515
86,Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households),35,0.128788
87,"Population, total",1,0.000000

In [96]:
all_ranks['Overall Mean Rank'] = combined_df.mean(axis=1)

sorted_overall_ranks = all_ranks.sort_values(by='Overall Mean Rank')

print(sorted_overall_ranks['Overall Mean Rank'])

Country Name
Switzerland                                              41.931122
Singapore                                                42.750000
Netherlands                                              44.323980
Sint Maarten (Dutch part)                                44.901515
Iceland                                                  46.643707
Korea, Rep.                                              47.788012
Denmark                                                  48.164167
Malta                                                    48.604911
Australia                                                48.836667
Norway                                                   49.133170
Germany                                                  51.000833
Austria                                                  51.086735
Cayman Islands                                           51.400463
Gibraltar                                                52.520833
Belgium                                                  53.007500
Sweden                                                   53.032313
Cyprus                                                   54.027778
San Marino                                               54.036232
Ireland                                                  54.180556
Portugal                                                 54.393880
Japan                                                    54.599206
France                                                   54.626736
Finland                                                  54.656046
Hong Kong SAR, China                                     54.870726
Luxembourg                                               55.187925
Liechtenstein                                            55.305060
New Zealand                                              55.538121
Hungary                                                  55.618750
Qatar                                                    55.628030
Canada                                                   55.845109
St. Martin (French part)                                 56.091667
Italy                                                    56.130848
Macao SAR, China                                         56.394097
Slovenia                                                 56.644006
Bahrain                                                  57.544697
United Arab Emirates                                     57.619048
Bermuda                                                  57.902244
Czechia                                                  58.918367
United Kingdom                                           59.135417
Lithuania                                                59.355820
North America                                            59.765625
Poland                                                   60.511111
Brunei Darussalam                                        60.806891
Kuwait                                                   60.819697
Estonia                                                  61.954678
Andorra                                                  62.160354
United States                                            62.510204
Latvia                                                   62.528005
Monaco                                                   62.732372
Spain                                                    62.836310
Croatia                                                  64.050595
Greece                                                   64.473485
Antigua and Barbuda                                      64.473810
Uruguay                                                  65.002894
Chile                                                    67.441542
British Virgin Islands                                   67.468333
Euro area                                                67.510101
Channel Islands                                          67.791667
Israel                                                   67.795139
Cuba                                                     68.003030
Greenland                                                68.263889
Trinidad and Tobago                                      68.814815
Virgin Islands (U.S.)                                    69.134921
Uzbekistan                                               69.208333
Belarus                                                  69.303241
Guam                                                     69.680556
Turkmenistan                                             70.555556
Slovak Republic                                          70.564394
Palau                                                    71.545918
St. Kitts and Nevis                                      72.480263
Aruba                                                    72.700521
Seychelles                                               73.065000
Costa Rica                                               73.285556
Northern Mariana Islands                                 73.556548
Serbia                                                   73.746111
Turkiye                                                  73.835046
Turks and Caicos Islands                                 73.897849
Oman                                                     73.959848
Barbados                                                 73.966981
Argentina                                                74.163603
Ukraine                                                  75.379329
Kazakhstan                                               75.565556
European Union                                           76.419192
Albania                                                  78.054113
Russian Federation                                       78.517077
Saudi Arabia                                             79.147876
Isle of Man                                              79.288690
Maldives                                                 79.289103
Central Europe and the Baltics                           79.566667
Post-demographic dividend                                79.888889
Puerto Rico                                              80.391865
Jordan                                                   80.611294
Bosnia and Herzegovina                                   80.649405
Montenegro                                               80.751437
Mauritius                                                80.832650
China                                                    81.697917
Mexico                                                   82.225352
Moldova                                                  82.553889
Romania                                                  82.671362
Dominica                                                 82.700658
Nauru                                                    82.974593
OECD members                                             83.504167
Azerbaijan                                               83.602431
Brazil                                                   84.460000
Thailand                                                 84.631757
Faroe Islands                                            84.645833
Armenia                                                  84.681306
High income                                              84.823643
Tonga                                                    85.058743
Bulgaria                                                 85.236351
Europe & Central Asia                                    86.129167
North Macedonia                                          86.464372
Tunisia                                                  86.639093
French Polynesia                                         86.952381
Bahamas, The                                             86.978220
St. Vincent and the Grenadines                           86.993519
Colombia                                                 87.131579
Kyrgyz Republic                                          87.164977
Georgia                                                  87.677511
Lebanon                                                  88.951241
Malaysia                                                 89.068673
Algeria                                                  90.466540
Paraguay                                                 90.865428
Panama                                                   90.977169
Viet Nam                                                 91.327976
Ecuador                                                  91.614865
Peru                                                     92.321272
Jamaica                                                  92.735907
Mongolia                                                 92.948465
Tajikistan                                               93.000563
St. Lucia                                                93.236607
Samoa                                                    94.253307
New Caledonia                                            94.470430
West Bank and Gaza                                       94.633488
Marshall Islands                                         94.783179
Sri Lanka                                                95.515766
Dominican Republic                                       95.782346
El Salvador                                              96.030251
Curacao                                                  96.650362
Bolivia                                                  96.761261
Iran, Islamic Rep.                                       97.246693
Europe & Central Asia (IDA & IBRD countries)             97.429825
Tuvalu                                                   98.276709
Venezuela, RB                                            98.441406
Belize                                                   98.785354
Egypt, Arab Rep.                                         99.318287
Europe & Central Asia (excluding high income)            99.534375
Grenada                                                  99.558333
Late-demographic dividend                               100.864583
Korea, Dem. People's Rep.                               101.400735
Indonesia                                               101.689145
Philippines                                             101.758224
Fiji                                                    101.899011
American Samoa                                          102.446429
South Africa                                            102.633706
Latin America & Caribbean (excluding high income)       103.588294
Latin America & Caribbean                               104.025407
East Asia & Pacific                                     104.520833
Latin America & the Caribbean (IDA & IBRD countries)    104.667683
Kosovo                                                  106.100877
Honduras                                                106.991883
Upper middle income                                     107.541667
East Asia & Pacific (excluding high income)             107.728175
Guyana                                                  108.345546
Syrian Arab Republic                                    108.778205
Cabo Verde                                              109.005208
Caribbean small states                                  109.077957
Libya                                                   109.224702
East Asia & Pacific (IDA & IBRD countries)              109.257114
Namibia                                                 110.864583
Iraq                                                    110.884132
Nicaragua                                               111.103618
Eswatini                                                112.196272
Guatemala                                               113.705592
Botswana                                                114.225134
Gabon                                                   114.373264
Suriname                                                114.575000
Kiribati                                                116.997222
Morocco                                                 117.527146
Lesotho                                                 117.535000
Ghana                                                   118.029605
Myanmar                                                 119.070076
Cambodia                                                119.346461
Middle East & North Africa                              119.880482
India                                                   119.988889
Bangladesh                                              123.489850
Micronesia, Fed. Sts.                                   124.389535
Small states                                            124.772619
Lao PDR                                                 126.052511
Middle East & North Africa (excluding high income)      126.196272
Bhutan                                                  126.263228
Other small states                                      127.324324
Malawi                                                  127.341009
IBRD only                                               127.851974
Togo                                                    127.940789
Pakistan                                                128.414502
Kenya                                                   128.469329
Vanuatu                                                 128.490113
World                                                   128.692982
Nepal                                                   129.005952
Rwanda                                                  129.114719
Cameroon                                                129.293333
Sao Tome and Principe                                   129.732143
Senegal                                                 130.381944
Timor-Leste                                             130.678241
Zambia                                                  130.899543
Middle East & North Africa (IDA & IBRD countries)       131.275463
Arab World                                              131.327206
Middle income                                           131.870495
Angola                                                  132.714527
Uganda                                                  133.081169
Cote d'Ivoire                                           133.198465
Yemen, Rep.                                             133.328638
Zimbabwe                                                134.254419
Tanzania                                                135.226974
Sierra Leone                                            135.918889
Gambia, The                                             136.295000
Congo, Rep.                                             136.341667
Mauritania                                              136.492680
Liberia                                                 136.777778
Mozambique                                              137.613739
Benin                                                   137.702055
Low & middle income                                     137.910417
Burundi                                                 138.407986
Solomon Islands                                         138.860000
Congo, Dem. Rep.                                        138.894900
Madagascar                                              141.179795
IDA & IBRD total                                        141.225225
Afghanistan                                             141.590385
Early-demographic dividend                              141.693376
Equatorial Guinea                                       142.315972
Guinea-Bissau                                           142.469329
Burkina Faso                                            142.962222
Nigeria                                                 145.032609
Papua New Guinea                                        145.580645
Comoros                                                 145.984543
South Asia                                              146.076705
Haiti                                                   146.413136
Djibouti                                                147.459877
Ethiopia                                                147.766775
South Asia (IDA & IBRD)                                 148.148256
Lower middle income                                     148.332532
Somalia                                                 148.408019
Sudan                                                   148.590476
Mali                                                    148.654057
Guinea                                                  149.561073
Chad                                                    150.366667
Niger                                                   154.689236
IDA blend                                               154.725379
Central African Republic                                154.932214
Pacific island small states                             159.000000
South Sudan                                             161.693015
Eritrea                                                 166.143082
Africa Western and Central                              167.386364
Sub-Saharan Africa (excluding high income)              170.391447
IDA total                                               171.417763
IDA only                                                172.232456
Sub-Saharan Africa                                      172.302632
Sub-Saharan Africa (IDA & IBRD countries)               173.075450
Fragile and conflict affected situations                174.327546
Africa Eastern and Southern                             175.154762
Low income                                              178.950521
Pre-demographic dividend                                181.887731
Least developed countries: UN classification            182.039414
Heavily indebted poor countries (HIPC)                  184.079861
Not classified                                                 NaN
Name: Overall Mean Rank, dtype: float64